* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f7ebff;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}



.main-wrapper {
  width: 900px;
  background: #ffffff;
  padding: 24px;
  border-radius: 14px;
  position: relative;
}

.top-right-icon {
  position: absolute;
  top: 20px;
  right: 20px;
}

.top-right-icon img {
  width: 32px;
}

h1 {
  font-size: 22px;
  font-weight: bold;
}

.title {
  font-weight: 600;
  margin-top: 4px;
}

.subtitle {
  color: #666;
  font-size: 14px;
  margin-bottom: 20px;
}

/* Cards */
.card-container {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.card {
  flex: 1;
  border: 1px solid #e3ccff;
  border-radius: 10px;
  padding: 16px;
  display: flex;
  gap: 12px;
  align-items: center;
}

.card img {
  width: 32px;
}

.card h2 {
  color: #6f2cff;
  font-size: 20px;
}

.card p {
  font-size: 14px;
  color: #555;
}

/* Section */
.section h3 {
  font-size: 15px;
  margin-bottom: 8px;
}

.box {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #e3ccff;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 8px;
}
.box-1{
   display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;

}


.box-1 img {
   margin-bottom: 8px;
}
.box img {
  width: 16px;
}

/* Unlock */
.unlock {
  border: 1px solid #e3ccff;
  padding: 12px;
  border-radius: 8px;
  margin: 16px 0;
}

.unlock-title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
}

.unlock img {
  width: 16px;
}

.points {
  display: block;
  margin-top: 6px;
  color: #6f2cff;
  font-weight: 600;
}

/* Instructions */
.instructions {
  border: 1px solid #e3ccff;
  padding: 12px;
  border-radius: 8px;
}

.instruction-title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  margin-bottom: 6px;
}

.instructions img {
  width: 16px;
}

.instructions ul {
  padding-left: 18px;
  font-size: 14px;
}

.instructions li {
  margin-bottom: 4px;
}
.unlock-para{
  margin-top: 10px;
  margin-left: 25px;
}

.list{
  margin-left: 20px;
}

/* Button */
.start-btn {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background: #6f2cff;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}

